*{
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
}
.logo{
    padding-top: 50px;
    padding-left: 50px;
    font-size: 300%;
}
.nav-links{
    padding-left: 800px;
    padding-top: 50px;
}
li{
    display: inline;
    padding: 10px;
    font-size: 120%;
   
}

a{
    text-decoration: none;
    color: black;
    padding: 5px;
    text-align: center;
    
}

a:hover{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 7%;
    
}